<div class="head">
  <div class="head-left">
    <img src="{{user.PhotoUrl}}" alt="">
    <div class="content-text">
      <div class="content-text-username text">
        {{user.userName}}
      </div>
      <div class="content-text-name text">
        untuk namanya
      </div>
      <div class="content-text-description">
        untuk description
      </div>
    </div>
  </div>
  <div class="head-right">
    <div class="text">
      untuk level
    </div>
    <div class="text">
      untuk feature badge
    </div>
    <div class="text">
      edit profile
    </div>
  </div>
</div>
