<div class="head">
  <div class="head-left">
<!--    <img src="{{user.PhotoUrl}}" alt="">-->
    <app-profile-avatar [user]="user" [frame]="user?.currFrame"></app-profile-avatar>
    <div class="content-text">
      <div class="content-text-username text">
        {{user.userName}}
      </div>
      <div class="content-text-name text">
        {{user.realName}}
      </div>
      <div class="content-text-description">
        {{user.summary}}
      </div>
    </div>
  </div>
  <div class="head-right">
    <div class="text">
      LEVEL
      <span class="rounded">{{user.level}}</span>
    </div>
    <div class="text">
      <app-feature-badge-card [badge]="user.ownBadge[user.currBadgeId - 1]"></app-feature-badge-card>
    </div>
    <div *ngIf="user.userName === userAuth.userName" class="text">
      <button (click)="editProfile()">edit profile</button>
    </div>

  </div>
</div>
