<div class="footer">

  <h2>Userfull Link</h2>
  <div class="link">
    <div class="link-component"><a href="https://www.facebook.com/">Facebook</a></div>
    <div class="link-component"><a href="https://twitter.com/home">Twitter</a></div>
    <div class="link-component"><a href="https://help.steampowered.com/en/">Steam Support</a></div>
    <div class="link-component"><a href="https://www.youtube.com/">Youtube</a></div>
    <div class="link-component"><a href="https://store.steampowered.com/">Steampowered</a></div>
    <div class="link-component"><a href="https://store.steampowered.com/privacy_agreement/">Privacy Policy</a></div>
    <div class="link-component"><a href="https://store.steampowered.com/legal/">Legal</a></div>
    <div class="link-component"><a href="https://store.steampowered.com/subscriber_agreement/">Agreement</a></div>
    <div class="link-component"><a href="https://help.steampowered.com/en/">Contact Us</a></div>
    <div class="link-component"><a href="https://help.steampowered.com/en/">Help</a></div>
  </div>

</div>
