<div class="content">

  <button routerLink="insert">Insert Promo</button>
  <div class="all-game" *ngFor="let c of promo">
    <img src="{{c.game.Image}}" class="all-game-component" alt="">
    <div class="all-game-component">{{c.game.Name}}</div>
    <div class="all-game-component">{{c.game.Price}}</div>
    <div class="all-game-component">{{c.promoDiscount}}</div>
    <button routerLink="update/{{c.promoId}}">Update</button>
  </div>
  <span #pages style="cursor: pointer" *ngFor="let p of pages" id="{{p}}"
  (click)="onClick(pages.id)"
  >{{p}}</span>
  <!--  <span *ngFor="let c of promo ; let i = index" >-->
  <!--    <span style="cursor: pointer" #page id="{{i + 1}}" (click)="changePage(page.id)">{{c}}</span>-->
  <!--  </span>-->

</div>
