<div class="header">
  <a routerLink="/">

    <img src="https://store.cloudflare.steamstatic.com/public/shared/images/responsive/header_logo.png" alt="">
  </a>

  <div class="nav">
    <ul class="nav-bar">
      <li class="nav-bar-detail"><a href="http://">Store</a></li>
      <li class="nav-bar-detail"><a href="http://">Community</a></li>
      <li class="nav-bar-detail"><a href="http://">About</a></li>
      <li class="nav-bar-detail"><a href="http://">Support</a></li>

    </ul>

  </div>


  <div class="right" *ngIf="!userAuth">
    instal steam
    <a routerLink="/login">login</a>
    | language

  </div>
  <div class="right" *ngIf="userAuth">
    <div class="right-install">
      <a>Install Steam</a>
    </div>
    <div class="right-name">
      {{userAuth.userName}}
      <ul>
        <li><a routerLink="user/{{userAuth.userName}}">View Profile</a></li>
        <li><a>Account Details</a></li>
        <li (click)="logOut()"><a routerLink="/">LogOut: {{userAuth.userName}}</a></li>
        <li><a>Preferences</a></li>
        <li><a>Change Language</a></li>
      </ul>
    </div>
    <div class="right-photo">

      <img src="{{userAuth.PhotoUrl}}">
    </div>
  </div>


</div>
