<div class="header">
  <a routerLink="/">

    <img src="https://store.cloudflare.steamstatic.com/public/shared/images/responsive/header_logo.png" alt="">
  </a>

  <div class="nav">
    <ul class="nav-bar">
      <li class="nav-bar-detail"><a href="http://">{{'HOME.STORE' | translate}}</a></li>
      <li class="nav-bar-detail"><a routerLink="/community">{{'HOME.COMMUNITY' | translate}}</a></li>
      <li class="nav-bar-detail"><a href="http://">{{'HOME.ABOUT' | translate}}</a></li>
      <li class="nav-bar-detail"><a href="http://">{{'HOME.SUPPORT' | translate}}</a></li>

    </ul>

  </div>


  <div class="right" *ngIf="!userAuth">
    instal steam
    <a routerLink="/login">login</a>
    | language

  </div>
  <div class="right" *ngIf="userAuth">
    <div class="right-install">
      <a>Install Steam</a>
    </div>
    <div class="right-msg">
      <img src="https://img.pngio.com/email-inbox-letter-mail-message-messages-icon-web-ui-message-icon-png-512_512.png" alt="">
      <ul>
        <li>New Command</li>
        <hr>
        <li style="cursor: pointer" routerLink="/friend">{{totalRequest}} New Friend Request</li>
        <hr>
        <li>New Item</li>
        <hr>
        <li>New Gift</li>
        <hr>
        <li>New Chat</li>
      </ul>
    </div>
    <div class="right-name">
      {{userAuth.userName}}
      <ul>
        <li><a routerLink="/user/{{userAuth.customUrl}}">{{'HOME.VIEW_PROFILE' | translate}}</a></li>
        <li><a>{{'HOME.ACCOUNT_DETAILS' | translate}}</a></li>
        <li (click)="logOut()"><a routerLink="/">{{'HOME.LOGOUT' | translate}}: {{userAuth.userName}}</a></li>
        <li><a>Preferences</a></li>
        <li><a>
          <select #langselect (change)="translate.use(langselect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
          </select>
        </a></li>
        <li><a routerLink="/community/market">Community Market</a></li>
        <li><a routerLink="/top-up">Top Up Wallet</a></li>
        <li *ngIf="userAuth.role == 'admin'"><a routerLink="/admin/manage-game">Manage Game</a></li>
        <li *ngIf="userAuth.role == 'admin'"><a routerLink="/admin/manage-promo">Manage Promo</a></li>
        <li *ngIf="userAuth.role == 'admin'"><a routerLink="/admin/manage-user">Manage User</a></li>
      </ul>
      <div>Rp. {{userAuth.money}}</div>
    </div>
    <div class="right-photo">
      <img src="{{userAuth.PhotoUrl}}">
    </div>
  </div>


</div>
