<!--<p>edit-profile-background works!</p>-->

<div class="profile-background">
  <form action="">
    <h2>PROFILE BACKGROUND</h2>
    <div>Choose a background to show on your profile page</div>
    <div class="img-container">
      <img src="{{bg.backgroundUrl}}" alt="">
    </div>
    <button (click)="onUpdate()">Update</button>
    <div class="background-container">
      <div class="filter">
        <p>FILTER</p>
        <input type="text">
      </div>

      <div class="container">
        <img style="cursor: pointer;" *ngFor="let pg of user.ownProfileBackground" src="{{pg.backgroundUrl}}" (click)="onClick(pg)" alt="">
      </div>
    </div>

    <input type="submit" value="Cancel">
    <input type="submit" value="Save">
  </form>

</div>
