<!--<p>edit-profile-background works!</p>-->

<div class="profile-background">
  <form action="">
    <h2>PROFILE BACKGROUND</h2>
    <div>Choose a background to show on your profile page</div>
    <div class="img-container">
      ini buat preview aja
    </div>
    <div class="background-container">

      <div class="filter">
        <p>FILTER</p>
        <input type="text">
      </div>

      <div class="container">
        list background yang bisa dipakai
      </div>
    </div>

    <input type="submit" value="Cancel">
    <input type="submit" value="Save">
  </form>

</div>
