.side-bar{
  padding: 20px;

  ul{
    li{
      text-decoration : none;
      list-style: none;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .friend{
    display: flex;
    position: relative;
    width: 100%;
    .mini{
      //left: ;
      right: 100%;
      position: absolute;
    }
  }
}

.hide{
  display: none;
}

.show{
  display: block;
}
