<!--<p>profile-sidebar works!</p>-->

<div class="side-bar">
  <div>Currently Offline</div>
  <div>last online :</div>

  <div>badge</div>
  <ul>
    <li>Games</li>
    <li>Inventory</li>
    <li>Screenshots</li>
    <li>Videos</li>
    <li>Workshop Items</li>
    <li>Reviews</li>
    <li>Guides</li>
    <li>Artwork</li>
  </ul>

  <div>Groups</div>
  Friends
  <div *ngFor="let f of user.friends; let i = index" #mini id="{{i}}" class="friend">
    <app-mini-profile  class="mini"  [ngClass]="(elementId == mini.id) ?'show' : 'hide' " [user]="f" [imgBg]="f.currMiniBgImg"></app-mini-profile>
    <app-my-friends-detail class="show" [user]="f" (mouseenter)="onHoverFriend(mini.id)" (mouseleave)="onLeave()"></app-my-friends-detail>
  </div>
</div>
