<!--<p>insert-game works!</p>-->

<div class="main">
  <app-header></app-header>
  <div class="insert-content">
    <div>{{game.Name}}</div>
    <form class="form" action="" (ngSubmit)="onSubmit()">
      <div class="form-component">
        <div>Game Title</div>
        <input [(ngModel)]="game.Name" [ngModelOptions]="{standalone: true}" type="text">
      </div>
      <div class="form-component">
        <div>Game Description</div>
        <input [(ngModel)]="game.Description" [ngModelOptions]="{standalone: true}" type="text">
      </div>
      <div class="form-component">
        <div>Game Price</div>
        <input [(ngModel)]="game.Price" [ngModelOptions]="{standalone: true}" type="text">
      </div>
      <div class="form-component">
        <div>Game Banner</div>
        <input type="file" accept="image/*" (change)="insertGameBanner($event)">
      </div>
      <div>Game Slide Shows</div>
      <div class="form-component file" *ngFor="let ss of slideArr">
        <input type="file" accept="image/*" (change)="insertGameImage($event)">
        <img src="{{ss.slideShowUrl}}" style="width: 100px" alt="">
      </div>
      <div class="form-component file">
        <input type="file" multiple accept="image/*" (change)="insertGameImage($event)">
      </div>

      <div *ngFor="let i of genreSelected">
        {{i}}
      </div>
      <div class="form-component">
        <div>Game Tags</div>
        <select name="" (change)="genreChange($event)">
          <option *ngFor="let g of genres" value="{{g.genreId}}">{{g.genreId}}. {{g.genreName}}</option>
        </select>
      </div>
      <div class="form-component">
        <div>Game System Requirement</div>
        <input [(ngModel)]="game.systemRequirement" [ngModelOptions]="{standalone: true}" type="text">
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>

</div>
