
<div class="register">
    <app-header></app-header>

    
    <div class="register-form">
        <H2>CREATE YOUR ACCOUNT </H2>
        <h3>{{errorMsg}}</h3>
        <!-- <div>{{email}} {{confEmail}} {{selectedCountry}}</div> -->
        <form action="" (ngSubmit)="submit()" >
            <div class="component">
                <p>Email Address</p>
                <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </div>
            
            <div class="component">
                <p>Confirm your Address</p>
                <input type="text" [(ngModel)]="confEmail" [ngModelOptions]="{standalone: true}" >
            </div>
            <div class="component">
                <p>Country of Residence</p>
                <select [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}">
                    <option value="0">Select Country</option>
                    <option *ngFor="let c of country ; let j = index" value="{{j+1}}">{{c.Name}}</option>
                </select>
            </div>
            <div class="component">
                <re-captcha (resolved)="resolved($event)" siteKey={{siteKey}}></re-captcha>
            </div>
            
            <input type="submit" value="Submit">
        </form>
        <!-- <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div> -->
    </div>

</div>