<!-- <p>side-bar works!</p> -->

<div class="side-bar">

  <img src="https://store.cloudflare.steamstatic.com/public/images//gift/steamcards_promo_02.png" alt="">
    <div class="sub-bar">
        <h3>DISCOVERY QUEUES</h3>
        <ul>
            <li><a href="#">Recommendations</a></li>
            <li><a href="#">New Release</a></li>
        </ul>
    </div>
    <div class="sub-bar">
        <h3>BROWSE CATEGORIES</h3>
        <ul>
            <li><a href="#">Top Sellers</a></li>
            <li><a href="#">New Release</a></li>
            <li><a href="#">Upcoming</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Virtual Reality</a></li>
            <li><a href="#">Controller Friendly</a></li>
        </ul>
    </div>
    <div class="sub-bar">
        <h3>BROWSE BY GENRE</h3>
        <ul>
            <li><a href="#">Free to Play</a></li>
            <li><a href="#">Early Access</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Casual</a></li>
            <li><a href="#">Indie</a></li>
            <li><a href="#">Massively Multiplayer</a></li>
            <li><a href="#">Racing</a></li>
            <li><a href="#">RPG</a></li>
            <li><a href="#">Simulation</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Strategy</a></li>
        </ul>
    </div>

</div>
