<!-- <p>side-bar works!</p> -->

<div class="side-bar">
  <img src="https://store.cloudflare.steamstatic.com/public/images//gift/steamcards_promo_02.png" alt="">
    <div class="sub-bar">
        <h3>DISCOVERY QUEUES</h3>
        <ul>
            <li><a href="#">Recommendations</a></li>
            <li><a href="#">New Release</a></li>
        </ul>
    </div>
    <div class="sub-bar">
        <h3>BROWSE CATEGORIES</h3>
        <ul>
            <li><a routerLink="search/category/1">On Sales This Week</a></li>
            <li><a routerLink="search/category/2">Positif Review</a></li>
            <li><a routerLink="search/category/3">Top Sales this month</a></li>
            <li><a routerLink="search/category/4">New Game</a></li>

        </ul>
    </div>
    <div class="sub-bar">
        <h3>BROWSE BY GENRE</h3>
        <ul>
            <li><a routerLink="search/genre/1">Horror</a></li>
            <li><a routerLink="search/genre/2">Moba</a></li>
            <li><a routerLink="search/genre/3">Science Fiction</a></li>
            <li><a routerLink="search/genre/4">FPS</a></li>
        </ul>
    </div>

</div>
