@import '../../styles/global.scss';

.modal{
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  color: $font-color;
  font-family: $font;
  .main{
    padding: 20px;
    .close{
      float: right;
    }
    width: 80vw;
    height: 90vh;
    background-color: #1d1d1e;
    align-self: flex-end;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .item-header{
      display: flex;
    }
  }
}

.hide{
  display: none;
}

