<div class="page">
  <app-header></app-header>
  <div class="page-main">
    <app-search-bar></app-search-bar>
    <app-game-display></app-game-display>
    <div class="wishlist">
      <button (click)="onWishList()">Add To Your Wishlist</button>
      <button (click)="onCart()">Add To Your Cart</button>
    </div>

    <div class="add-review" *ngIf="isHaveGame">
      <textarea name="" id="" cols="30" placeholder="add your review" [(ngModel)]="review" [ngModelOptions]="{standalone: true}"></textarea>
      <button (click)="onReview()">submit</button>
      <input type="checkbox" [(ngModel)]="help" [ngModelOptions]="{standalone: true}"> helpful
    </div>

    <div>
      <button (click)="onRecent()">By Recent</button>
      <button (click)="onUpvoted()">By Helpful</button>
    </div>
    <div class="review">
      <app-community-review *ngFor="let p of post" [post]="p"></app-community-review>
    </div>
  </div>
</div>
<app-footer></app-footer>
