@import "src/app/styles/global";

.game{
  background-color: rgba(0,0,0, 0.2);
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  &-image{
    img{
      width: 150px;
    }
  }
  &-name{
    width: 50%;
    align-self: center;
  }
  &-price{
    align-self: center;
  }
}

.padding-box{
  padding: 20px;
}
