<app-header></app-header>
<div class="edit">
  <div class="main-content">
    <div class="header">
      <img src="{{user.PhotoUrl}}" alt="">
      <div class="name">{{user.userName}}</div>
    </div>
    <div class="edit">
      <div class="edit-tab">
        <ul>
          <li>
            <button
              #buttonHome
              type="button general-button"
              (click)="updateId='U-001'; onClick(buttonHome.id)"
              id="button1"
            >General
            </button>
          </li>
          <li>
            <button
              #buttonAvatar
              type="button general-button"
              (click)="updateId='U-002'; onClick(buttonAvatar.id)"
              id="button2"
            >Avatar
            </button>
          </li>
          <li><button
            #buttonBackground
            type="button general-button"
            (click)="updateId='U-002'; onClick(buttonBackground.id)"
            id="button3"
          >Profile Background</button></li>
          <li><button
            #buttonMini
            type="button general-button"
            (click)="updateId='U-002'; onClick(buttonMini.id)"
            id="button4"
          >Mini Profile</button></li>
          <li>
            <button
              #buttonTheme
              type="button general-button"
              (click)="updateId='U-002'; onClick(buttonTheme.id)"
              id="button5"
            >Theme</button>
          </li>
          <li><button
            #buttonBadge
            type="button general-button"
            (click)="updateId='U-002'; onClick(buttonBadge.id)"
            id="button6"
          >Feature Badge</button></li>
          <li><button
            #buttonFrame
            type="button general-button"
            (click)="updateId='U-002'; onClick(buttonFrame.id)"
            id="button7"
          >Profile Frame</button></li>
        </ul>
      </div>
      <div class="edit-content">
        <app-edit-general
          [ngClass]="buttons.button1? 'selected' : 'unselected'"></app-edit-general>
        <app-edit-avatar [ngClass]="buttons.button2? 'selected' : 'unselected'"></app-edit-avatar>
        <app-edit-feature-badge [ngClass]="buttons.button6? 'selected' : 'unselected'"></app-edit-feature-badge>
        <!--        <app-edit-profile-background></app-edit-profile-background>-->
        <app-edit-mini-profile [ngClass]="buttons.button4? 'selected' : 'unselected'"></app-edit-mini-profile>
        <app-edit-profile-theme [ngClass]="buttons.button5? 'selected' : 'unselected'"></app-edit-profile-theme>
        <app-edit-profile-background [ngClass]="buttons.button3? 'selected' : 'unselected'"></app-edit-profile-background>
        <app-edit-avatar-frame [ngClass]="buttons.button7? 'selected' : 'unselected'"></app-edit-avatar-frame>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
