<!--<p>profile-page works! welcome {{username}}</p>-->

<!--<div class="profile" *ngIf="loaded | async">-->
<div class="profile">
  <app-header></app-header>
  <!--  {{user.ID}}-->
  <div class="main">
    <div class="main-content">
      <app-profile-head [user]="user"></app-profile-head>
      <div class="two-side">
        <div class="left">

          <div class="recent container">
            Recent Activity
          </div>

          <div *ngFor="let u of user.games">
            <app-recent-game [game]="u"></app-recent-game>

          </div>
<!--          <app-recent-game></app-recent-game>-->
<!--          <app-recent-game></app-recent-game>-->
<!--          <app-recent-game></app-recent-game>-->
<!--          <app-recent-game></app-recent-game>-->
<!--          <app-recent-game></app-recent-game>-->
        </div>
        <div class="right">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
      </div>
    </div>
  </div>
</div>
