@import "src/app/styles/global";

.modal{
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-content: center;
  .content{
    align-self: center;
    background-color: #072d4b;
    width: 300px;
    height: 300px;
    textarea{
      width: 100%;
    }
  }
}

.container{
  padding: 10px;
}

.profile{
  min-height: 100vh;
  @include backgroundGradient;
    //background-color: $back-color;
  .main{

    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    &-content{
      padding: 20px;
      font-family: $font;
      color: $font-color;
      background-color: #15004a;
      height: 100%;
      width: 90%;
      margin: 30px;
      .two-side{
        display: flex;
        .left{

          width: 70%;
          .recent{
            background-color: rgba(0,0,0,0.2);
            font-size: 25px;
            padding: 10px;
          }
          app-recent-game{
            margin-top: 100px;
          }
        }
        .right{
          background-color: rgba(0,0,0,0.2);
          margin-left: 15px;
          width: 30%;
          display: flex;
        }
      }
    }
  }
}
